*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.header__nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav{
    padding: 25px 0;
    background: black;
}
.logo{
    text-transform: uppercase;
    font-size: 46px;
    color: red;
}
.header__nav-list{
    display: flex;
    gap: 20px;
}
.header__nav-link{
    color: white;
    font-size: 30px;
}
.header__content{
    background: rgb(56, 55, 83);
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.header__content-titile,
.header__content-text{
    color: white;
    font-size: 40px;
}
.main{
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__titile{
    color: white;
    font-size: 30px;
}